#artist-photo {
  height: 2em;
}

.spotify-green {
  color: #1ed760;
}

.spotify-green-background {
  background-color: #1ed760;
}

.album-gradient {
  background: #070707;
  background: linear-gradient(180deg, #816b0d 0%, #121212 55%);
}

/* .blur-effect {
  backdrop-filter: blur(25%);
} */

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {
  #play-button {
    color: black;
  }

  .bi-three-dots-vertical {
    transform: rotate(90deg);
  }
}
