/* dot over the bell icon */
.size-custom {
  background-color: #4388e0;
  width: 30%;
  height: 30%;
  left: 8%;
  bottom: 90%;
  box-shadow: 0px 0px 0px 3px #212529;
}
/* ul navbar centered padding */
.p-custom {
  padding-top: 2%;
}

/* shadow cards */
.shadow-custom {
  box-shadow: 0px 0px 5px 0.5px #dddddd;
}
/* bg body */
.bg-body {
  background: #3b3838;
  background: linear-gradient(147deg, rgba(59, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
/* fs p for playlist */

.fs-custom {
  font-size: 0.8rem;
}

/* spotify green */
.green {
  color: #20d65e;
}
.bg-btn-custom {
  background-color: #20d65e !important;
}
.border-btn-custom {
  border: 1px solid #ffffffbb;
}
.cols-custom {
  width: 49%;
}
.pointer {
  cursor: pointer;
}
.bg-custom-gradient {
  background: #000000;
  background: linear-gradient(27deg, rgba(0, 0, 0, 1) 0%, rgba(71, 71, 71, 1) 100%);
}
@media screen and (min-width: 1200px) {
  .cols-custom {
    width: 32%;
  }
}

#test {
  display: inline-flex;
  width: max-content;
  animation: move 4s linear infinite;
}
#test span {
  padding-right: 3rem;
}
/* bg sliders */

.bg-study {
  background: #edb95f;
  background: linear-gradient(147deg, rgba(237, 185, 95, 1) 0%, rgba(71, 71, 71, 1) 27%);
}
.bg-jazz {
  background: #6b586a;
  background: linear-gradient(147deg, rgba(107, 88, 106, 1) 0%, rgba(71, 71, 71, 1) 27%);
}
.bg-rock {
  background: #0c0a00;
  background: linear-gradient(147deg, rgba(12, 10, 0, 1) 0%, rgba(71, 71, 71, 1) 27%);
}
.bg-run {
  background: #deb059;
  background: linear-gradient(147deg, rgba(222, 176, 89, 1) 0%, rgba(71, 71, 71, 1) 27%);
}
.bg-classic {
  background: #bf00fe;
  background: linear-gradient(147deg, rgba(191, 0, 254, 1) 0%, rgba(71, 71, 71, 1) 27%);
}
.bg-blues {
  background: #9ebece;
  background: linear-gradient(147deg, rgba(158, 190, 206, 1) 0%, rgba(71, 71, 71, 1) 27%);
}
@keyframes move {
  to {
    transform: translateX(-54%);
  }
}
